[push]
	default = simple
[user]
	email = stephen@brennan.io
	name = Stephen Brennan
[core]
	autocrlf = input
	editor = nvim
[alias]
	st = status
	ci = commit
	cm = commit -m
	com = commit
	df = diff
	co = checkout
	cb = checkout -b
[color]
	ui = auto
[sendemail]
	smtpserver = /usr/bin/msmtp
[rebase]
	autosquash = true
